
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form">
          <form class="row g-3">
            <div class="px-30 py-10 text-left">
              <a class="link-effect font-w700" style="color: #df7829">
                <span class="font-size-xl font-size-lg">AVAD</span
                ><span class="font-size-xl">School</span>
              </a>
              <h1 class="h3 font-w700 mt-30 mb-10">
                Welcome to Your Dashboard
              </h1>
              <h2 class="h5 font-w400 text-muted mb-4">Please sign in</h2>
            </div>
            <div class="col-6" style="padding: 2px">
              <label for="inputEmail4" class="form-label">First Name</label>
              <input type="email" class="form-control form-control-lg" />
            </div>
            <div class="col-6" style="padding: 2px">
              <label class="form-label">Surname</label>
              <input type="text" class="form-control form-control-lg"/>
            </div>

            <div class="col-12 mb-2">
              <label class="form-label">Other Names</label>
              <input type="text" class="form-control form-control-lg" />
            </div>
            <div class="col-12 mb-2">
              <label class="form-label">Email Address</label>
              <input type="email" class="form-control form-control-lg" />
            </div>
            <div class="col-12" style="padding: 2px">
              <label for="inputEmail4" class="form-label">Residential Address</label>
              <input type="text" class="form-control form-control-lg" />
            </div>
            <div class="col-12" style="padding: 2px">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control form-control-lg"/>
            </div>
            <div class="col-6" style="padding: 2px">
              <label class="form-label">Password</label>
              <input type="password" class="form-control form-control-lg" />
            </div>
            <div class="col-6" style="padding: 2px">
              <label class="form-label">Confirm Password</label>
              <input type="password" class="form-control form-control-lg"/>
            </div>

            <div class="col-auto mb-1">
              <div class="form-check">
                <input
                  class="form-check-input mt-1 mx-auto"
                  type="checkbox"
                  id="autoSizingCheck"
                />
                <label class="form-check-label" for="autoSizingCheck">
                  Remember me
                </label>
              </div>
            </div>

            <div class="form-btn col-2">
              <button class="btn prim_btn clickable" (click)="login()">
                <span>Login</span>
              </button>
            </div>

            <div style="margin-top: 1.5rem" class="auth_content_extra">
              <p class="login">
                Don’t have an account?
                <span
                  routerLink="/sign-up"
                  class="text-primary-color body-1-bold clickable"
                  tabindex="0"
                >
                  Sign Up</span
                >
              </p>
            </div>
          </form>
        </div>

        <div
          class="login100-more details"
          style="background-image: url('assets/images/bgauth.jpg')"
        >
          <div class="contan">
            <h2
              style="font-weight: 400; font-size: 50px; margin-top: 100px"
              class="title"
            >
              Welcome to a World of Potentials!
            </h2>
            <p style="font-weight: 400; font-size: 20px">
              Join over 500 parents who have depended on us to help their
              children discover and develop their potentials at a very early
              age.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

